@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

$svg-border: 1px solid transparentize($base-font-color, 0.8);

section {
  @include outer-container;
  border-radius: 0.5em;

  h1{
    font-size: 200%;
  }
}

.accordion-tabs-minimal {
  $base-border-color: gainsboro !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $medium-screen: em(640) !default;
  $tab-link-color: $dark-gray;
  $tab-border: 1px solid $base-border-color;
  $tab-active-background: $base-background-color;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: silver;
  $tab-mode: $medium-screen;

  @include clearfix;
  line-height: 1.5;
  padding: 0;

  li.tab-header-and-content {
    list-style: none;

    @include media($tab-mode) {
      display: inline;
    }
  }

  a.tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $tab-link-color;
    display: block;
    padding: ($base-spacing / 2) $gutter;
    text-decoration: none;

    @include media($tab-mode) {
      @include inline-block;
      border-top: 0;
    }

    &:hover {
      color: $action-color;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      border-bottom: 0;

      @include media($tab-mode) {
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    display: none;
    padding: $base-spacing 0em;
    width: 100%;

    @include media($tab-mode) {
      border-top: $tab-border;
      float: left;
    }
  }
}


.choose_flag{
  border: $svg-border;
  padding: 1em;

  button {
    background: none;
    color: $tor-purple;
    padding: 0.25em 0.5em;
    border-right: $svg-border;
    border-left: $svg-border;
    border-radius: 0;

    &:active,
    &:hover,
    &:focus{
      background: $tor-purple;
      color: #fff;
    }
  }

  .flags{
    display: flex;
    flex-wrap: wrap;
  }

  .play_button{
    display: flex;
    flex-direction: row-reverse;
  }
}

.aster_svg{

  @include span-columns(8);
  border: $svg-border;

  svg {

    .solidArc:hover {
      opacity: 1;
      stroke: black;
      stroke-width: 2.5px;
    }

    .solidArc {
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      opacity: 0.85;
      stroke: grey;
      stroke-width: 1px;
    }

    .x.axis path {
      display: none;
    }

    .aster-score {
      line-height: 1;
      font-weight: bold;
      font-size: 200%;
    }

    .inner {
      fill: #4d9221;
    }

    .n-1 {
      fill: #7fbc41;
    }

    .n-2 {
      fill: #b8e186;
    }

    .n-3 {
      fill: #e6f5d0;
    }

    .n-4 {
      fill: #f6e8c3;
    }

    .n-5 {
      fill: #dfc27d;
    }

    .n-6 {
      fill: #bf812d;
    }

    .n-7 {
      fill: #8c510a;
    }

    .n-8 {
      fill: #8c510a;
    }
  }

}
.aster_info{

  @include span-columns(4);
  border: $svg-border;
}

.bullets {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 2.5em;

  @include display(flex);
  @include flex-wrap(wrap);
  margin-bottom: $base-line-height;
  margin: 1em;
  overflow: auto;
  padding: 0;

  .bullet {
    @include flex-basis(20em);
    @include flex-grow(1);
  }

  .bullet-icon {
    background: $action-color;
    border-radius: 50%;
    float: left;
    height: $icon-bullet-size;
    padding: $icon-bullet-size / 4;
    width: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: #4d9221;
  }

  .bullet-icon-2 {
    background: #7fbc41;
  }

  .bullet-icon-3 {
    background: #8c510a;
  }

  .bullet-content {
    margin-left: $icon-bullet-size * 1.4;
    margin-bottom: 2em;
  }

  h2 {
    border-bottom: 1px solid transparentize($base-font-color, 0.8);
    display: inline-block;
    font-size: $icon-bullet-size / 2.5;
    margin: 0 0 ($icon-bullet-size / 6) 0;
    padding-top: $icon-bullet-size / 7;
  }

  li {
    list-style: none;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  img {
    max-width: 100%;
  }
}

.barchart{
  svg{
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .n_p_3 {
    fill: #4d9221;
  }

    .n_p_2 {
    fill: #7fbc41;
  }

    .n_p_1 {
    fill: #b8e186;
  }

    .n {
      fill: #e6f5d0;
    }

    .n-1 {
      fill: #f6e8c3;
    }

    .n-2 {
      fill: #dfc27d;
    }

    .n-3 {
      fill: #bf812d;
    }

    .n-4 {
      fill: #8c510a;
    }
  }
}